.repeat {
    position: fixed;
    bottom: 20px;
    right: 15px;
    width: 80px;
    margin: 15px;
}

@media (max-width:380px) {
    .repeat {
        right: 0px;
    }
}

.repeat._hidden {
    display: none;
}

.repeat:hover {
    transition: rotate 0.8s;
    rotate: 360deg;
}

.repeat:active {
    transition: scale 0.8s;
    scale: 1.2;
}