.main__score {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
}

@media (max-width:1281px) {
    .main__score {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row-reverse;
        position: fixed;
        right: 20px;
        top: 60px;
        width: 100%;
    }
}