body {
    font-family: 'Cherry Bomb One';
    background: url('./data/img/background.jpg') 0 50% /cover no-repeat fixed;

    -webkit-user-select: none;
    /* Для браузеров на основе WebKit (Chrome, Safari) */
    -moz-user-select: none;
    /* Для браузеров на основе Gecko (Firefox) */
    -ms-user-select: none;
    /* Для браузера Internet Explorer */
    user-select: none;

    @media (min-width:1281px) {
            min-height: 100vh;
            overflow: hidden;
    }
}

._result {
    background: #64ffc5;
}

.wrapper {
    display: flex;
    flex-direction: column;
}

._container {
    max-width: 1260px;
    margin: 0 auto;
    padding-left: 40px;
    padding-right: 40px;
    box-sizing: content-box;
}