$white: #fff;
$green: #5fdd54;
$orange: #f47703;
$red: #ff2a0c;

h1{
    text-transform: uppercase;
}

h2{
    font-size: 40px;
    color: $green;
    text-transform: uppercase;
    line-height: 1em;
}